.module__list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.module{
    width: calc(30% - 10px);
    aspect-ratio: 1 / 1;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
}

.module > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.module__hover{
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 0%, 0.7);
    transition:all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition:all .3s;
}

.module__link:hover{
    color: var(--color-main-text);
    font-size: 25px;
}

.module__hover p{
    color: #fff;
}

.module:hover .module__hover{
    
    transform: scale(1);
}

/*Galeria_End*/
